body{
    background-color: hsl(218, 28%, 13%)
}

h2 {
    font-family: Raleway;
}

h3 {
    font-family: Open Sans;
}


section {
    background-color: hsl(218, 28%, 13%);
    padding: 40px;
    display: flex;
    justify-content: center;
}

.menu  {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.lista-do-menu {
    display: flex;
    align-items: center;
    gap: 35px;
    color: #666D79;
    transition: 0.7s ease-in-out ;
}


.menu-2:hover {
    text-decoration: underline;
}

.logo {
    display: flex;
    align-items: center ;
}

main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 30px;
}

.bnt {
    background-color: hsl(198, 60%, 50%);
    padding: 15px 50px;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.bnt:hover {
    background-color: hsl(176, 68%, 64%);
}

.sequencia-de-topicos {
    display: grid;
    grid: 
    " .  topico-1 topico-2 . " 
    " .  topico-3 topico-4 . ";
    grid-gap: 50px 100px;
    grid-template-columns: minmax(240px, 370px) minmax(240px, 370px) minmax(240px, 370px) minmax(240px, 370px);

}

.img-topico-1 {
    padding: 20px;
}

.img-topico-2 {
    padding: 20px;
}

.img-topico-3 {
    padding: 20px;
}

.img-topico-4 {
    padding: 20px;
}




.topico-1 {
    grid-area: topico-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.topico-2 {
    grid-area: topico-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.topico-3 {
    grid-area: topico-3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.topico-4 {
    grid-area: topico-4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.imagem-com-informacao {
   align-items: center;
   padding-left: 180px;
   gap: 70px;
}

.texto-informativo {
    padding: 15px;
    display: grid;

}

.titulo-informativo {
    display: grid;
    grid-template-columns: minmax(200px, 250px);
}

.paragrafo-informativo-1 {
    display: grid;
    grid-template-columns: minmax(325px, 450px);
}

.paragrafo-informativo-2 {
    display: grid;
    grid-template-columns: minmax(325px, 500px);
}

.link-do-informativo::after {
    content: url(/images/icon-arrow.svg);
    background: url(/images/icon-arrow.svg) center center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;

}

.link-do-informativo:hover {
    color: hsl(176, 68%, 64%);
    text-decoration: underline;
}

.link-do-informativo {
    display: flex;
}

